<launch>

  <!--Publishes our "/start" frame at a constant rate. -->
  <node name="startFrame" pkg="remote_nav" type="startFrame.py">
  </node>

  <arg name="rviz_config" default="$(find remote_nav)/rviz/pr2_map_img.rviz" />
  <!-- The length in meters of the one dimensional track the robit floats on. -->
  <arg name="track_length" default="2.0" />
  <!-- The frame by which we recognize the robot. For a turtlebot this is /base_footprint -->
  <arg name="robot_frame" default="/base_footprint" />
  <!-- The topic you publish to in order to send nav goals. -->
  <arg name="nav_topic" default="/pr2_move_base/goal" />
  <!-- The topic you publish to in order to cancel nav goals. -->
  <arg name="cancel_topic" default="/pr2_move_base/cancel" />

  <node name="myviz" pkg="remote_nav" type="myviz.py" >
  	<param name="robot_frame" value="$(arg robot_frame)"/>
  	<param name="rviz_config" value="$(arg rviz_config)"/>
  	<param name="track_length" value="$(arg track_length)"/>
  </node>
</launch>
