<launch>

  <!--Publishes our "/start" frame at a constant rate. -->
  <!-- <node name="startFrame" pkg="remote_nav" type="startFrame.py"> -->
  <!-- </node> -->

  <arg name="rviz_config" default="$(find remote_nav)/config/map_and_img.rviz" />
  <node name="myviz" pkg="remote_nav" type="myviz.py" >
  	<param name="rviz_config" default="$(arg rviz_config)"/>
  </node>
</launch>
