<launch>
	<arg name="map_yaml"/> <!-- e.g. /home/lazewatd/wu_maps/jolley4.yaml -->
	<arg name="map_zones"/> <!-- e.g. $(find privacy_zones)/jolley4_zones.yaml -->
	<arg name="map_zone_controls"/> <!-- e.g. $(find privacy_zones)/jolley4_zone_controls.yaml -->

	<include file="$(find privacy_zones)/launch/zone_server.launch">
		<arg name="map_yaml" value="$(arg map_yaml)"/>
		<arg name="map_zones" value="$(arg map_zones)"/>
		<arg name="map_zone_controls" value="$(arg map_zone_controls)"/>
		<arg name="use_amcl_pose" value="true"/>
	</include>
	<include file="$(find peac_bridge)/launch/peac_bridge.launch"/>
	<include file="$(find contextual_interfaces)/launch/web_interface.launch"/>
	<include file="$(find wheelchair_bringup)/launch/basic_localization.launch"/>
</launch>