<launch>
	<arg name="map_yaml" default="/home/lazewatd/wu_maps/jolley4.yaml"/>
	<arg name="map_zones" default="$(find privacy_zones)/jolley4_zones.yaml"/>
	<arg name="map_zone_controls" default="$(find privacy_zones)/jolley4_zone_controls.yaml"/>

	<node name="map_odom_tf" type="static_transform_publisher" pkg="tf" args="-1.450 5.800 0 3.14 0 0 map odom 100"/>
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find privacy_zones)/jolley4.world"/>

	<include file="$(find privacy_zones)/launch/zone_server.launch">
		<arg name="map_yaml" value="$(arg map_yaml)"/>
		<arg name="map_zones" value="$(arg map_zones)"/>
		<arg name="map_zone_controls" value="$(arg map_zone_controls)"/>
		<arg name="use_amcl_pose" value="false"/>
	</include>
</launch>
