<launch>

	<!-- Main Python Script for Magic Mat Demo -->
	<node type="numpyer.py" pkg="magic_tabletop" name="numpyer" output="screen" />

	<!-- Kinect Driver -->
	<include file="$(find openni_launch)/launch/openni.launch" />

	<!-- Image Viewer Window -->
	<!--node type="image_view" pkg="image_view" name="image_view" output="screen" -->
	      <!--remap from="image" to="/camera/rgb/image_color"/-->
	<!--/node-->


</launch>